table {
  width: 100%;
}

#mainCard {
  background-color: #FFF8E7;
  box-shadow: none;
}

body {
  background-color: #D9D9D9;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 90%;
  margin-right: 10px;
}

.mat-toolbar {
  background-color: #FFFFFF;
  color: black;
}

.mat-mdc-raised-button:not(:disabled) {
  background-color: #D95D39;
}

td, th {
  width: 25%;
}

.btnEdit {
  color: #1f1fa2;
}

.btnDelete {
  color: #d30d0d;
}

img {
  width: 50%;
  height: 50%;
}
