<mat-toolbar color="primary">
    <span>INICIO</span>
</mat-toolbar>
<main>
    <mat-card class="example-card" routerLink="/listado-usuarios">
        <mat-card-header>
          <mat-card-title class="title-card">Gestión usuarios</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://cdn-icons-png.flaticon.com/512/33/33308.png" alt="icono usuarios">
      </mat-card>
      <mat-card class="example-card" routerLink="/listado-platos">
        <mat-card-header>
          <mat-card-title class="title-card">Gestión platos</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://cdn-icons-png.flaticon.com/512/66/66803.png" alt="icono platos">
      </mat-card>
      <mat-card class="example-card" routerLink="/listado-pedidos">
        <mat-card-header>
          <mat-card-title class="title-card">Gestión pedidos</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://cdn-icons-png.flaticon.com/512/1226/1226430.png" alt="icono pedidos">
      </mat-card>
      <mat-card class="example-card" routerLink="/listado-categorias">
        <mat-card-header>
          <mat-card-title class="title-card">Gestión categorías</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://cdn.icon-icons.com/icons2/2406/PNG/512/tags_categories_icon_145927.png" alt="icono categorías">
      </mat-card>
</main>
