<mat-toolbar color="primary">
    <span>INICIO</span>
</mat-toolbar>
<main>
    <mat-card class="example-card" routerLink="/listado-mesa1">
        <mat-card-header>
          <mat-card-title class="title-card">Mesa 1</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://cdn-icons-png.flaticon.com/512/51/51882.png" alt="icono mesa">
      </mat-card>
      <mat-card class="example-card" routerLink="/listado-mesa2">
        <mat-card-header>
          <mat-card-title class="title-card">Mesa 2</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://cdn-icons-png.flaticon.com/512/51/51882.png" alt="icono mesa">
      </mat-card>
      <mat-card class="example-card" routerLink="/listado-mesa3">
        <mat-card-header>
          <mat-card-title class="title-card">Mesa 3</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://cdn-icons-png.flaticon.com/512/51/51882.png" alt="icono mesa">
      </mat-card>
      <mat-card class="example-card" routerLink="/listado-mesa4">
        <mat-card-header>
          <mat-card-title class="title-card">Mesa 4</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://cdn-icons-png.flaticon.com/512/51/51882.png" alt="icono mesa">
      </mat-card>
</main>