<div class="container">
    <h2 mat-dialog-title>{{ operacion }} Categoría</h2>
</div>
<form [formGroup]="form" (ngSubmit)="addEditPlato()">
    <mat-dialog-content class="mat-typography">
        <mat-form-field appearance="fill">
            <mat-label>Nombre</mat-label>
            <input formControlName="nombre" matInput placeholder="Nombre">
        </mat-form-field>
        <div class="error">
            <span *ngIf="form.get('nombre')?.hasError('required') && form.get('nombre')?.touched">
                El nombre es un campo <strong>requerido</strong>.
            </span>
        </div>
        <mat-form-field appearance="fill">
            <mat-label>Descripción</mat-label>
            <input formControlName="descripcion" matInput placeholder="Descripcion">
        </mat-form-field>
        <div class="error">
            <span *ngIf="form.get('descripcion')?.hasError('required') && form.get('descripcion')?.touched">
                La descripción es un campo <strong>requerido</strong>.
            </span>
        </div>
        <mat-form-field appearance="fill">
            <mat-label>Estado</mat-label>
            <mat-select formControlName="estado">
              <mat-option *ngFor="let item of estados" [value]="item">
                {{ item }}
              </mat-option>
            </mat-select>
        </mat-form-field>
          <div class="error">
            <span *ngIf="form.get('estado')?.hasError('required') && form.get('estado')?.touched">
                El estado del plato es un campo <strong>requerido</strong>.
            </span>
          </div>
        <button type="button" mat-raised-button (click)="fileInput.click()">Elegir imagen</button>
            <input  formControlName="img"  hidden (change)="onFileSelected($event)" #fileInput type="file">
            <span class="file-name">{{selectedFile?.name}}</span>
          <div class="error">
            <span *ngIf="form.get('img')?.hasError('required') && form.get('img')?.touched">
                La imagen es un campo <strong>requerido</strong>.
            </span>
          </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button type="button" (click)="cancelar()" >Cancelar</button>
      <button mat-button type="submit" cdkFocusInitial>Aceptar</button>
    </mat-dialog-actions>
</form>
