// Definir variables de color
$color-1: #D95D39;
$color-2: #FFAE9C;
$color-3: #FFFFFF;
$color-4: #FFF8E7;
$color-5: #D9D9D9;

table {
    width: 100%;
  }

#mainCard{
  background-color: #FFF8E7;
  box-shadow: none;
}

body{
  background-color: #D9D9D9;
}



.mat-mdc-form-field {
  font-size: 14px;
  width: 90%;
  margin-right: 10px;
}

.mat-toolbar{
  background-color: $color-3;
  color: black;
}

.mat-mdc-raised-button:not(:disabled) {
  background-color: $color-1;
}

td, th {
  width: 25%;
}

.btnEdit{
    color: rgb(31, 31, 162)
}

.btnDelete{
    color: rgb(211, 13, 13);
}